.side
  .side__heading
    .heading__box
      %p.heading__box__user
        = current_user.name
      %ul.heading__box__btns
        %li.heading__box__btns--new-group
        =link_to new_group_path do
          =fa_icon 'edit', class: "heading__btn--icon"
        %li.heading__box__btns--edit-user
        =link_to edit_user_path(current_user) do
          =fa_icon 'cog', class: "heading__btn--icon"
  .side__lists
    = render partial: "messages/group"

.contents
  .contents__heading
    .heading__left
      %p.heading__left--group-name
        sample_group
      %ul.heading__left--members
        Member：
        %li user1
        %li user2
    .heading--btn
      =link_to "#undefined", class: "edit-link" do
        %p Edit

  .contents__main
    = render partial: "messages/message", collection: @messages

  .contents__bottom
    .bottom__form
      .bottom__form--box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "form--textarea", placeholder: "type a message"
          = f.label :image, class: 'form--image' do
            = fa_icon 'image', class: "form__image--icon"
            = f.file_field :image, class: "hidden"
          = f.submit "Send", class: "form--btn"

      -#   %label.form--image
      -#     = fa_icon 'image', class: "form__image--icon"
      -#     %input{type: "file", accept: "image/*"}
      -# %input.form--btn{type: "submit", value: "Send"}